@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body,html {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    padding: 20px;
}

button {
    cursor: pointer;
}